blinker==1.8.2
cli_helpers==2.3.1
click==8.1.7
configobj==5.0.9
filetype==1.2.0
Flask==3.0.3
Flask-Cors==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
litecli==1.12.3
MarkupSafe==2.1.5
numpy==2.1.2
opencv-python==4.10.0.84
prompt_toolkit==3.0.48
Pygments==2.18.0
sqlparse==0.5.1
tabulate==0.9.0
wcwidth==0.2.13
Werkzeug==3.0.4
